.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-title {
    width: 100%;
    font-family: "Inter", sans-serif;
    border: none;
    background: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #727272;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #727272;
    width: 100%;
}


.invalid {
    outline: 1px solid red;
    background-color: rgba(73, 0, 0, 0.863);
}